<div class="form pd">
  <div class="github-logo">
    <img src="assets/GitHub-Logo.png" alt="">
  </div>
  <div class="container">
    <h1>
      Github Finder
    </h1>
    <p class="pd"> Find a github user with his Username</p>
    
    <form (ngSubmit)="onSubmit()" class="form-control mt-b" >
      <input type="text" [(ngModel)]="username" id="username"  name="username"  placeholder="Enter a valid Username">
    </form>


    <div class="result text-center result-container">
      <div class="user-desc">
        <img src="assets/GitHub-Logo.png" alt="">
        <h2 class="pd">Daniatou</h2>
        <button class="mt-b"><a href="" target="_blank">Voir sur Github</a></button>
      </div>
      <div class="user-repos">
        <div class="repos pd">
          <h3>Fish <span>Public</span></h3>
        </div>

      </div>
    </div>
  </div>
</div>